section{
    width: 100vw;
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: #ffffff;
}

p{
    text-align: justify;
}

body{
    background: linear-gradient(90deg,var(--color-1) 60%,var(--color-4));
}
/* ------- section apresentacao ------------- */
.carousel-inner{
    padding: 1em;
}

.carrouselText{
    padding-top: 7% !important;
}

#carouselExampleIndicators img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

/* ---------------------------- */

/* ------- section numeros ------------- */

#sec_numeros p{
    text-align: center;
    font-size: var(--primary-text);
    margin-top: 1em;
    vertical-align: middle;
}

/* ---------------------------- */

/* ------- section convite ------------- */

#btnCadastrar{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

/* ---------------------------- */

/* ------- section depoimentos ------------- */
.imgPerfil{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    outline: 2px solid black;
    outline-offset: 3px;
}

.depoimento-card{
    cursor: pointer;
    transition: transform .5s;
}

.nomeAluno{
    font-size: 1.5em;
}

.depoimento-card:hover{
    transform: scale(1.015);
}

.depoimento-theme-0{
    background-color: var(--quad-1);
    color: white;
}

.depoimento-theme-1{
    background-color: var(--quad-2);
    color: white;
}

.depoimento-theme-2{
    background-color: var(--quad-3);
    color: white;
}

.depoimento-theme-3{
    background-color: var(--quad-4);
    color: white;
}

.depoimento-theme-4{
    background-color: var(--quad-5);
    color: white;
}

.depoimento-theme-5{
    background-color: var(--quad-6);
    color: white;
}

.depoimento-theme-6{
    background-color: var(--quad-7);
    color: white;
}

.depoimento-theme-7{
    background-color: var(--quad-8);
    color: white;
}

/* ---------------------------- */

/* ------- section eventos ------------- */
#proximosEventos{
    overflow-y: auto;
    overflow-x: hidden;
}

.event-card{
    border: 2px solid black;
    border-radius: 20px;
    display: inline-block;
    padding: 1em 3em;
    margin: 2em;
    width: 20vw;
}

.event-card span{
    display: block;
    text-align: center;
    margin: .5em;
}