:root{

    --section-height: 30vh;
    --primary-text:2em;
    --secondary-text:1.5em;
    --terciary-text:1em;
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.btn-light{
    border: 2px solid black;
}

/* ------- HEADER ------------- */
#logoFatec{
    width: 87px;
    height: 50px;
    margin-left: 1em;
    display: block;
}

#tituloEgressos{
    font-size: var(--primary-text);
    
}

#btnEntrar{
    transform: translateX(-.5rem);
}
/* ---------------------------- */
.close{
    margin-left: auto !important;
    font-weight: bold;
    border: 0px;
    font-size: 1.1em;
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
}

.close:hover{
    background-color: lightgrey;
    color: red;
}