<!-- Material Icons-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
<nav class="navbar navbar-light bg-light justify-content-between" id="nav">
    <div>
        <!-- Image and text -->
        <a class="navbar-brand" href="./" aria-label="voltar para a home">
        <img src="./img/logoFatec.png" id="logoFatec" class="d-inline-block align-top" alt="">
        </a>
    </div>
    <div id="tituloEgressos">
        <span>Egressos da FATEC-ZL</span>
    </div>
    <div id="divLogin">
        <a href="./login" class="btn btn-light" id="btnEntrar">
            Entrar
        </a>
        <div class="btn-group" id="btnLoged">
            <button type="button" id="profileButton" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id="myProfile">Meu Perfil</a>
                <div id="sepModeracao" class="dropdown-divider disp-none"></div>
                <a class="dropdown-item disp-none" href="#" id="btnModeracao">Moderação</a>
                <div class="dropdown-divider"></div>
                <a id="sair" class="dropdown-item" href="#">
                    Sair
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                </a>
            </div>
        </div>
    </div>
    <script type="module" src="./components/header.js"></script>
</nav>
