<nav class="navbar navbar-light bg-light justify-content-between">
    <div>
        <!-- Image and text -->
        <a class="navbar-brand" href="./" aria-label="voltar ao início">
          <img src="./img/logoFatec.png" id="logoFatec" class="d-inline-block align-top" alt="">
        </a>
    </div>
    <div>
        <p id="tituloEgressos">Egressos</p>
    </div>

    <div id="divLogin">
        <a href="./login.html"><button type="button" class="btn btn-light" id="btnEntrar">Entrar</button></a>
        <div class="btn-group" id="btnLoged">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
    </div>
    <script type="module" src="./header.js"></script>

</nav>